:root{
    --black-color:#000;
    --text-color:#fff;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* html{
    font-family: Arial, Helvetica, sans-serif;
} */
#main{

}
/* common */
.row {
    margin-left: -8px;
    margin-right: -8px;

}
.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-half{
    width: 50%;
}
.col-third{
    width: 33.333%;
}

#hearder{
    position: fixed;
    height: 46px;
    background-color: #000;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
#nav{
    display: inline-block;
}
#nav li{
    display: inline-block;
    position: relative;
}
#nav > li > a{
    color: #fff;

}
#nav li a{
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: inline-block;
}

#nav > li:hover > a{
    background-color: #ccc; 
    color: #000;
}
#nav .subnav{
    display: none;  
    position: absolute;
    top: 100%;
    min-width: 160px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
  
}
/* qua phan subnav */
/* hover to appear */
#nav >li:hover .subnav{
    
    display: block;
}
#nav .subnav a{
    display: block;
     color: #000;
}
#nav .nav-arrow-down{
    font-size: 16px;
}
#nav .subnav li{
    display: block;
   
}
#nav .subnav >li > a:hover {
    
    background-color: #ccc;
}
/* css icon search header */
#hearder .search_btn{
    color: #fff;
    float: right;
    line-height: 46px;  
    padding: 0 23px;
}
#hearder .search_btn:hover{
    cursor: pointer;
    background-color: #f44336;
}
#header .search_btn .search-icon{
    font-size: 20px;
}
/* end icon search css */


#slider{
    margin-top: 46px;
    padding-top: 50%;
    background: url(./img/z4041926874019_8f25b1af5cc1e4f4aadd034b6652ce34.jpg) top center / cover;
    background-position: center;
    position: relative;
}
#slider .text-content{
    position:absolute;
    bottom: 47px;
    color: #fff;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
}
#slider .text-heading{
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 5px;
}
#slider .text-decription{
    font-size: 15px;
}
/* content  */
#content{
    height: 2000px;
    background-color: #fff; 
    
    text-align: center;
    /* margin: 0 269px; */
}
#content .content-section{
    width: 800px;
    padding: 25px 16px;
    margin-left: auto;
    margin-right: auto;
    
    
}
#content .section-heading{
    text-align: center;
    margin: 10px 0;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
}
#content .section-sub-heading{
    text-align: center;
    margin: 15px 0;
    font-size: 15px;
    font-style: italic;
}
#content .about-text{
    text-align: justify;
    word-wrap: break-word;
    line-height: 1.5;
    
}
#content .member-list{
    margin-top: 48px;
    padding-bottom: 64px;
    /* margin-bottom: 48px; */
    overflow: hidden;
    /* cách 2: là ta cho 
    1 thẻ <div class = "clear"
    và qua css : .clear{
        clear=both
    } */
}
#content .member-item{
    float: left;
    max-width: calc(100% / 3);
    text-align: center;
}
.member-item .member-name{
    margin: 15px 0;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
}
.member-item .member-avartar{
    max-width: 90%;
    border-radius: 50%;
    background-position: center;
}
#content .tealeaves-icon{
    margin-bottom: 10px;
}
/* tour section */
#tour-section{
    background-color: var(--black-color);
    color: var(--text-color);
}

#tour-section .ticket-time{
    background-color: var(--text-color);
    list-style-type: none;
    color: #757575;
    text-align: left;
}
.ticket-time li{
    padding: 8px 16px;
    border: 1px solid #ddd;
    line-height: 1.5;
}
.sold-out{
    background-color: #f44336;
    margin-left: 15px;
    padding: 0 8px;
    color: var(--text-color);
    font-family: "Lato", sans-serif;
    line-height: 1.5;
    display: inline-block;
}
.ticket-number{
    color: var(--text-color);
    background-color: #000;
    float: right;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    border-radius: 50%;
}
.place-list{
    color: var(--black-color);
    margin-top: 32px;   
    margin-bottom: 48px;
}

.clear{
    content: "";
    clear: both;
}   
.img{
    width: 100%;
    display: block;
}
.img:hover{
    opacity: 0.6;
}
.place-body{
    padding: 16px;
    background-color: var(--text-color);
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}   
.place-heading{
   font-size: 15px;
   font-weight: 600;
}
.place-time{
    margin-top: 15px;
    color: #757575;


}
.place-decription{
    margin-top: 15px;

}
.buy-btn{
    margin-top: 15px;
    padding: 8px 16px;
    background-color: rgb(56, 36, 156);
    color: var(--text-color);
    display: inline-block;
}
.buy-btn:hover{
    cursor: pointer;
    opacity: 0.8;
}
#content-section{
    /* display: inline-block; */
}
.action{
    /* display: inline-flex; */
}
.contact-content{
    
}
.contact-info{
    font-size: 18px;
    line-height: 1.4;
}
.contact-info i[class*="fa-"]{
    width: 30px;
}
/* end content */
.contact-form{
    font-size: 15px;
    display: inline-block;

}
.contact-form .form-control{
    padding: 4px;
    width: 100%;
}
/* End content */
.map-section{
    margin: 20px 0;
    padding-top: 20px;
}
.map-section img{
    width: 100%;
}
#footer{

}